
INPUT {
	padding-right: 1px;
	padding-left: 1px;
	
	padding-bottom: 1px;
	color: black;
	padding-top: 1px;
	
	cursor: hand;
}

TABLE {
	font-family: "宋体";
	font-size: 14px;
}

TD {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
}

.MTABLE {
	font-family: "宋体";
	font-size: 14px;
}

.normal {
	background-color: #FFD8D8;
	border-left-width: 1px;
	border-left-color: #CD4E4E;
	border-bottom-width: 1px;
	border-bottom-color: #CD4E4E;
	border-top-width: 1px;
	border-top-color: #CD4E4E;
	border-right-width: 1px;
	border-right-color: #CD4E4E;
}

.spring {
	background-color: #FFFFFF;
	border-left-width: 1px;
	border-left-color: #ACBA8B;
	border-bottom-width: 1px;
	border-bottom-color: #ACBA8B;
	border-top-width: 1px;
	border-top-color: #ACBA8B;
	border-right-width: 1px;
	border-right-color: #ACBA8B;
}

.summer {
	background-color: #FFFFFF;
	border-left-width: 1px;
	border-left-color: #2576AB;
	border-bottom-width: 1px;
	border-bottom-color: #2576AB;
	border-top-width: 1px;
	border-top-color: #2576AB;
	border-right-width: 1px;
	border-right-color: #2576AB;
}

.autumn {
	background-color: #FFFFFF;
	border-left-width: 1px;
	border-left-color: #82280E;
	border-bottom-width: 1px;
	border-bottom-color: #82280E;
	border-top-width: 1px;
	border-top-color: #82280E;
	border-right-width: 1px;
	border-right-color: #82280E;
}

.winter {
	background-color: #FFFFFF;
	border-left-width: 1px;
	border-left-color: #2D48AD;
	border-bottom-width: 1px;
	border-bottom-color: #2D48AD;
	border-top-width: 1px;
	border-top-color: #2D48AD;
	border-right-width: 1px;
	border-right-color: #2D48AD;
}
.welcomeInfo {
	color: #b2b2b2;
}
.versionInfo {
	color: #7F99FF;
}
.systemName  {
	color: #000000;
	font-weight:200;
	line-height: 20pt;
}